html {
  font-size: 10px;
}

.menu {
  color: black;
  background-color: #fff;
  margin: 17px 10px;
  text-decoration: none;
  font-size: 16px;
  font-family: "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
  outline: none;
  border-bottom: 1px solid transparent;
  float: right;
}

.menu:hover {
  border-bottom: 1.8px solid;
}

a {
  display: inline-block;
}

.link_one:hover {
  background-color: #1377b1;
  color: white;
}

.link_one:active {
  background-color: rgb(59, 59, 59);
  color: #fff;
}

.link_two:hover {
  background-color: #1377b1;
  color: white;
}

.link_two:hover:active {
  background-color: rgb(59, 59, 59);
  color: #fff;
}

.link_three:hover {
  background-color: #1377b1;
  color: white;
}

.link_three:hover:active {
  background-color: rgb(59, 59, 59);
  color: #fff;
}

.img {
  width: 14%;
  box-sizing:border-box;
  cursor: pointer;
}

.line {
  display: inline-block;
}

.bg {
  background: url(../img/skype1.webp) no-repeat;
  background-position: right;
  width: 1300px;
  height: 500px;
  padding: 10px 10px;
  border-radius: 0 30px 30px 30px;
  box-sizing: content-box;
  display: inline-block;
}

.two {
  box-sizing: content-box;
  background-size: contain;
  border-radius: 0 18px 0 0;
  width: 600px;
}

.three {
  /* display: flex; */
  box-sizing: content-box;
  background-size: contain;
  border-radius: 0 18px 0 0;
  width: 600px;
}

.container {
  width: 1400px;
  height: 900px;
  display: inline-block;
  /* box-sizing: content-box; */
}

.block_second {
  color: rgb(0, 0, 0);
  background-color: rgb(230, 228, 228);
  font-size: 20px;
  border-radius: 0 20px 20px 20px;
  font-family: "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
  text-decoration: none;
  width: 600px;
  height: 600px;
  display: inline-block;
  box-sizing: content-box;
  margin-right: 20px;
}

.block_third {
  color: black;
  background-color: rgb(230, 228, 228);
  font-size: 20px;
  border-radius: 0 20px 20px 20px;
  font-family: "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
  text-decoration: none;
  width: 600px;
  height: 600px;
  display: inline-block;
  box-sizing: content-box;
  margin-left: 20px;
}

.help {
  color: rgb(58, 58, 58);
  text-align: left;
  padding: 10px 10px;
  margin: 0px;
  font-size: 40px;
  font-family: "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
}

.skype {
  color: rgb(58, 58, 58);
  text-align: left;
  padding: 10px 10px;
  margin: 0px;
  font-size: 20px;
  font-family: "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
  color: rgba(29, 26, 26, 0.856);
}

.chat {
  color: rgb(58, 58, 58);
  font-style: normal;
  font-size: 25px;
  font-weight: bold;
  text-align: left;
  margin: 0px;
  padding: 10px 10px;
  display: inline-block;
  font-family: "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
}

.conditions {
  color: rgb(58, 58, 58);
  font-style: normal;
  font-size: 14px;
  text-align: left;
  margin: 0px;
  padding: 10px 10px;
  display: inline-block;
  font-family: "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
  text-decoration: rgb(29, 28, 28);
}

.number {
  font-style: normal;
  font-size: 19px;
  text-align: left;
  margin: 0px;
  padding: 20px 20px;
  color: rgb(59, 59, 59);
}

.link_one {
  text-align: center;
  color: #fff;
  background-color: #008ddd;
  padding: 10px 10px;
  margin-left: 15px;
  text-decoration: none;
  font-size: 16px;
  border-radius: 22px;
  font-family: "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
  outline: none;
  font-weight: bold;
  box-sizing: content-box;
  border-bottom: 1px solid transparent;
}

.link_two {
  text-align: center;
  padding: 12px 12px;
  margin-left: 15px;
  /* border-radius: 100%; */
  color: #fff;
  background-color: #008ddd;
  text-decoration: none;
  font-size: 16px;
  border-radius: 22px;
  font-family: "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
  outline: none;
  font-weight: bold;
  box-sizing: content-box;
  border-bottom: 1px solid transparent;
}

.link_three {
  text-align: center;
  color: #fff;
  background-color: #008ddd;
  padding: 12px 12px;
  margin-top: 50px;
  margin-left: 15px;
  text-decoration: none;
  font-size: 16px;
  border-radius: 22px;
  font-family: "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
  outline: none;
  font-weight: bold;
  box-sizing: content-box;
  border-bottom: 1px solid transparent;
}

